<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790198058464-fbs0l2pod249ls2iisdgmcvbi3nm9rlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790198058464-fbs0l2pod249ls2iisdgmcvbi3nm9rlu</string>
	<key>API_KEY</key>
	<string>AIzaSyCPgx8QKZxlLyTvd4XoLHRIw0ImJlbY_ao</string>
	<key>GCM_SENDER_ID</key>
	<string>790198058464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>russo.unisalento.mylinkedin</string>
	<key>PROJECT_ID</key>
	<string>mylinked-5bda1</string>
	<key>STORAGE_BUCKET</key>
	<string>mylinked-5bda1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790198058464:ios:3b1ad4004dae9f5a10bf85</string>
</dict>
</plist>