<ion-header>
  <ion-toolbar>
    <ion-button size="small" (click)="back()">
      <ion-title>Back</ion-title>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card class="m-2 mb-3" button="false" color="light">
    <ion-card-header class="text-center" >
      <ion-card-title style="text-align: left"> {{post.name}}</ion-card-title>
      <ion-card-subtitle style="text-align: left">{{post.createdBy.name +' '+ post.createdBy.surname}}
<!--        <span *ngIf="post.createdBy.type=='offeror'">{{post.createdBy.company.name}}</span> -->
      </ion-card-subtitle>
      <ion-card-subtitle  style="text-align: left" >pubblicato il: {{post.pubblicationDate | date: 'dd-MM-yyyy'}}</ion-card-subtitle>
      <div *ngFor="let json of post.jsonDocument">
        <ion-card-subtitle  style="text-align: left" >{{json.nameAttribute}}: {{json.value}}</ion-card-subtitle>
      </div>

      <div *ngIf="user.type =='applicant'">
        <div style="text-align: left"  class="mt-5 mb-5"> Commenti:</div>
        <div *ngFor="let comment of post.commentList">
          <ion-card-subtitle class="mt-6 mb-6" style="text-align: left" >Data Pubblicazione: {{comment.date| date: 'dd-MM-yyyy'}}</ion-card-subtitle>
          <ion-card-subtitle  style="text-align: left" >{{comment.applicant.name}} {{comment.applicant.surname}} : {{comment.text}} </ion-card-subtitle>
          <ion-card-subtitle class="mb-4" style="text-align: left" ></ion-card-subtitle>
        </div>
        <ion-item class="mt-2 mb-3">
          <ion-textarea placeholder="Inserisci il commento.."
                        [(ngModel)]="comment.text"
                        name="text"
          >
            <ion-button fill="clear" size="small" style="float: right;" (click)="sendComment()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-textarea>
        </ion-item>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
