<ion-card>
  <div class="alert alert-danger m-3" role="alert" *ngIf="loginError.error">
    {{loginError.message}}
  </div>
  <ion-card-content>
    <form (ngSubmit)="login()" [formGroup]="companyLoginForm">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input required type="text"
                   formControlName="name"
        ></ion-input>
        <div *ngFor="let validation of validationMessages.name">
          <div class="alert alert-danger" *ngIf="companyLoginForm.get('name').hasError(validation.type) && submit">{{validation.message}}
          </div>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">password</ion-label>
        <ion-input required type="password"
                   formControlName="password"
        ></ion-input>
        <div *ngFor="let validation of validationMessages.name">
          <div class="alert alert-danger" *ngIf="companyLoginForm.get('password').hasError(validation.type) && submit">{{validation.message}}
          </div>
        </div>
      </ion-item>

      <ion-button expand="block" style="margin-top: 30px" type="submit"> Login </ion-button>
      <ion-card-content class="ion-text-center">
        <ion-label>
          Oppure
        </ion-label>
      </ion-card-content>
      <ion-button expand="block" (click)="navigateTo('/signup')"> Registrati </ion-button>

    </form>
  </ion-card-content>
</ion-card>
