<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Iscriviti</ion-card-title>
  </ion-card-header>

  <div class="alert alert-danger m-3" role="alert" *ngIf="regError.error">
    {{regError.message}}
  </div>
  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.name"
                   name="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Surname</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.surname"
                   name="surname"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required type="email"
                   [(ngModel)]="applicant.email"
                   name="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data di nascita</ion-label>
        <ion-datetime displayFormat="D-M-YYYY" value=""
                      required type="date"
                      [(ngModel)]="applicant.birthDate"
                      name="birthDate"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">password</ion-label>
        <ion-input required type="password"
                   [(ngModel)]="applicant.password"
                   name="password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Conferma password</ion-label>
        <ion-input required type="password"
                   [(ngModel)]="confirmPassword"
                   name="confirmPassword"
        ></ion-input>
      </ion-item>

      <div class="alert alert-danger m-3" role="alert" *ngIf="pwdError.error">
        {{pwdError.message}}
      </div>

      <ion-item>
        <ion-label position="stacked">Indirizzo</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.address"
                   name="address"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Titolo di studio</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.degree"
                   name="degree"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" style="margin-top: 30px" (click)="signup()"> Registrati </ion-button>
      <ion-card-content class="ion-text-center">
        <ion-label>
          Oppure
        </ion-label>
      </ion-card-content>
      <ion-button expand="block" (click)="navigateTo('/login')"> Login </ion-button>

    </form>
  </ion-card-content>
</ion-card>
