<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>

  <ion-toolbar>
    <ion-item>
        <ion-label>Tipo di post</ion-label>
        <ion-select placeholder="------" #structureSelect (ionChange)="showAttribute(structureSelect.value)">
          <ion-select-option
            *ngFor="let structure of structureList"
            [value]="structure"
          >{{structure.name}}</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="onSubmit(structureSelect)">
        <ion-item>
          <ion-label position="stacked"> Titolo</ion-label>
          <ion-input required type="text"
                     [(ngModel)]="post.name"
                     name="name"
          ></ion-input>
        </ion-item>

        <ion-item *ngFor="let attribute of attributeList; let myIndex = index">
          <ion-label position="stacked">{{attribute.name}}</ion-label>

          <ion-input required type="text" *ngIf="attribute.type === 'String'"
                     [(ngModel)]="jsonDocuments[myIndex].value"
                     name="value"
          ></ion-input>
          <ion-input required type="number" *ngIf="attribute.type === 'Number'"
                     [(ngModel)]="jsonDocuments[myIndex].value"
                     name="value"
          ></ion-input>

          <ion-label *ngIf="attribute.type === 'Date'">MM DD YY</ion-label>
          <ion-datetime displayFormat="MM DD YY" placeholder="Data" *ngIf="attribute.type === 'Date'"
                        [(ngModel)]="jsonDocuments[myIndex].value"
                        name="value"
          ></ion-datetime>

          <ion-input required type="text" *ngIf="attribute.type === 'Position'"
                     [(ngModel)]="jsonDocuments[myIndex].value"
                     name="value"
          ></ion-input>


          <ion-input required type="number" *ngIf="attribute.type === 'Image'"
                     [(ngModel)]="jsonDocuments[myIndex].value"
                     name="value"
          ></ion-input>

          <ion-input required type="number" *ngIf="attribute.type === 'PDF'"
                     [(ngModel)]="jsonDocuments[myIndex].value"
                     name="value"
          ></ion-input>


        </ion-item>

        <ion-button size="block" type="submit" style="margin-top: 30px">CREA POST</ion-button>

        <ion-label position="stacked">Skill</ion-label>
        <ion-select placeholder="---skill---" #skillSelect (ionChange)="enable()">
          <ion-select-option
            *ngFor="let skill of skillList; let myIndex = index"
            [value]="myIndex"
          >{{skill.name}}</ion-select-option>
        </ion-select>
        <ion-button size="block" [disabled]="!button"  (click)="addSkill(skillSelect.value)" style="margin-top: 30px">Aggiugni skill</ion-button>
      </form>

      <div>
        <h3>
          Skill
        </h3>
        <div *ngFor="let postSkill of postSkillList; let postSkillIndex = index">
          Nome: {{postSkill.name}} <ion-icon name="trash-outline" (click)="removeSkill(postSkillIndex)"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
