<ion-card>
  <div class="alert alert-danger m-3" role="alert" *ngIf="regError.error">
    {{regError.message}}
  </div>

  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="company.name"
                   name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">password</ion-label>
        <ion-input required type="password"
                   [(ngModel)]="company.password"
                   name="password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Conferma password</ion-label>
        <ion-input required type="password"
                   [(ngModel)]="confirmPassword"
                   name="confirmPassword"
        ></ion-input>
      </ion-item>

      <div class="alert alert-danger m-3" role="alert" *ngIf="pwdError.error">
        {{pwdError.message}}
      </div>

      <ion-item>
        <ion-label position="stacked">Settore</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="company.sector"
                   name="sector"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descrizione</ion-label>
        <ion-textarea required
                      [(ngModel)]="company.description"
                      name="description"
        ></ion-textarea>
      </ion-item>

      <ion-button expand="block" style="margin-top: 30px" (click)="signup()"> Registrati </ion-button>
      <ion-card-content class="ion-text-center">
        <ion-label>
          Oppure
        </ion-label>
      </ion-card-content>
      <ion-button expand="block" (click)="navigateTo('/login')"> Login </ion-button>
    </form>
  </ion-card-content>
</ion-card>
