<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Iscriviti</ion-card-title>
    <ion-card-subtitle class="m-4">oppure <a class="blue" href="login">accedi</a></ion-card-subtitle>
  </ion-card-header>

  <div class="alert alert-danger m-3" role="alert" *ngIf="regError">
    Si è verificato un errore
  </div>
  <ion-card-content>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.name"
                   name="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Surname</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.surname"
                   name="surname"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required type="email"
                   [(ngModel)]="applicant.email"
                   name="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data di nascita</ion-label>
        <ion-input required type="date"
                   [(ngModel)]="applicant.birthDate"
                   name="birthDate"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">password</ion-label>
        <ion-input required type="password"
                   [(ngModel)]="applicant.password"
                   name="password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Conferma password</ion-label>
        <ion-input required type="password"
                   [(ngModel)]="confirmPassword"
                   name="confirmPassword"
        ></ion-input>
      </ion-item>

      <div class="alert alert-danger m-3" role="alert" *ngIf="pwdError">
        Le password non coincidono
      </div>

      <ion-item>
        <ion-label position="stacked">Indirizzo</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.address"
                   name="address"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Titolo di studio</ion-label>
        <ion-input required type="text"
                   [(ngModel)]="applicant.degree"
                   name="degree"
        ></ion-input>
      </ion-item>

      <ion-button size="block" type="submit" style="margin-top: 30px">ISCRIVITI</ion-button>

    </form>
  </ion-card-content>
</ion-card>
