<ion-header [translucent]="true">
  <app-toolbar></app-toolbar>
  <ion-toolbar *ngIf="user.type === 'applicant'">
    <ion-searchbar placeholder="Filtra per offeror" debounce="500" (ionChange)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="user.type === 'applicant'">
    <ion-item>
      <ion-label>Filtra per skill</ion-label>
      <ion-select placeholder="------" multiple="true" #skillSelect (ionChange)="filter(skillSelect)">
        <ion-select-option
          *ngFor="let skill of skillList"
          [value]="skill"
        >{{skill.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item button (click)="fiterByDate()" detail="">
      <ion-label>
        Filtra per data
      </ion-label>
      <ion-item>
        <ion-label></ion-label>
        <ion-datetime displayFormat="DD MM YY" placeholder="inizio"
                      [(ngModel)]="startDate"
                      name="startDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>-</ion-label>
        <ion-datetime displayFormat="DD MM YY" placeholder="{{endDate | date: 'dd-mm-yy'}}"
                      [(ngModel)]="endDate"
                      value="{{endDate}}}"
                      name="endDate"></ion-datetime>
      </ion-item>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <ion-card *ngFor="let post of showingPostList" class="m-2 mb-3" button="true" color="light">
      <ion-card-header class="text-center" (click)="goToPost(post)">
        <ion-card-title>{{post.name}}</ion-card-title>
        <ion-card-subtitle>{{post.createdBy.name}} {{post.createdBy.surname}} <p *ngIf="post.createdBy.company !== null">{{post.createdBy.company.name}}</p> {{post.pubblicationDate | date: 'dd-MM-yyyy'}}</ion-card-subtitle>

      </ion-card-header>
      <ion-card-content (click)="goToPost(post)">

      </ion-card-content>


      <ion-row class="card-footer">
        <ion-col>
          <div class="text-center" (click)="save(post)">
            <ion-button fill="clear" size="small">
              <ion-icon name="save-outline"></ion-icon>
            </ion-button><br>
            Salva
          </div>

        </ion-col>
        <ion-col>
          <div class="text-center" (click)="goToComment(post)">
            <ion-button fill="clear" size="small">
              <ion-icon name="chatbox-ellipses-outline"></ion-icon><br>
            </ion-button><br>
            Commenta
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>

