<app-toolbar></app-toolbar>



<ion-content [fullscreen]="true">

    <ion-card *ngFor="let item of postList" class="m-2 mb-3" button="true" color="light">
      <ion-card-header class="text-center" (click)="goToPost(item)">
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.createdBy.name}} {{item.createdBy.surname}} ({{item.company.name}}) {{item.pubblicationDate | date: 'dd-MM-yyyy'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content (click)="goToPost(item)">

      </ion-card-content>


      <ion-row class="card-footer">
        <ion-col>
          <div class="text-center" (click)="save(item)">
            <ion-button fill="clear" size="small">
              <ion-icon name="save-outline"></ion-icon>
            </ion-button><br>
            Salva
          </div>

        </ion-col>
        <ion-col>
          <div class="text-center" (click)="goToComment(item)">
            <ion-button fill="clear" size="small">
              <ion-icon name="chatbox-ellipses-outline"></ion-icon><br>
            </ion-button><br>
            Commenta
          </div>
        </ion-col>
        <ion-col *ngIf="user.type === 'applicant'">
          <div class="text-center" (click)="candidate(item)">
            <ion-button fill="clear" size="small">
              <ion-icon name="today-outline"></ion-icon>
            </ion-button><br>
            Candidati
          </div>
        </ion-col>

      </ion-row>

    </ion-card>
</ion-content>

